.register-box{
    border: 1px solid black;
    max-width: 50%;
    margin: auto;
    height: auto;
    padding: 20px 30px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
}
.register-form input{
    border-radius: 5px;
    width: 200px;
    margin-bottom: 25px;
    padding: 3px 6px;
    color: black;
    border:  none;
}
.reg{
    width: 100px;
}
.register-box p{
    margin-top: 25px;
}